* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Metropolis;
    border: none;
}
*:focus {
    outline: none;
    border: none;
}

a {
    color: unset;
}
header{
    background: url('../images/hero.png');
    background-position: center;
    background-size: cover;
    height: 60vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    width: 90%;
    margin: 0px auto; /*automatically adjust r8 nd left equally*/
}
nav .nav-item{
    color: white;
    margin: 0px 10px;/*right nd left margin*/
}
nav div.container{
display: flex;
}
nav div.nav-item.app{
font-size: 0.9rem;
font-weight: 200;
}
header div.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    width: 80%;
    margin: 0px auto;
}
header img.logo{
width: 300px;
}
header h1{
    font-size: 2.5rem;
    color: white;
    font-weight: 400;
}
header div.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 70%;
    border-radius: 10px;
}
div.search-box div{
    display: flex;
    align-items: center;
    height: 50px;
    margin: 0px 50px;
    }
    header div.search-box i{
        margin: 10px;
    } 
header div.search-box div.select i{
color: #f57082;
}
header div.search-box div.input i{
    color: #828282b7;
}
header div.search-box div.seperator{
height: 50%;
background-color: #8282829b;
width: 2px;
}
header div.search-box div.input{
    flex-grow: 80;
}
header div.search-box div.select select{
    flex-grow: 1;
    font-size: 1rem;
    color: #757575;
}
header div.search-box div.input input{
    width: 100%;
    font-size: 1rem;
    align-self: center;
}
/*header section completed*/
/*section*/
section.nearby{
min-height: 40vh;
}
section.nearby div.container{
width: 90%;
margin: 0px auto;
text-align: center;
padding: 40px 0px;
}
section.nearby div.container h3{
    font-size: 2.2rem;
    font-weight: unset;
}
section.nearby div.box{
    max-width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 5%;
    box-shadow:rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
section.nearby div.box:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; ;
}
/*App section*/
section.app{
  min-height: 300px;
  background-color: #FEFBF6;  
}
section div.container{
    width: 70%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section.app div.container img{
    max-width: 300px;
    display: block;
}
section.app div.container div.form{
    max-width: 485px;

}
section.app div.container div.form h1{
font-size: 3rem;
}
section.app div.container div.form small{
    display: block;
    font-size: 1.1rem;
    font-weight: 100;
    color: #393737;
    margin: 20px 0px;
}
/*radio button styles*/
section.app div.input{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;

}
section.app div.input input{
    flex-grow: 70; 
background-color: #fff;
border: 1px solid #cfcfcf;
font-size: 1.2rem;
padding-left: 10px;
border-radius: 5px;
height: 100%;
margin: 0px 10px 0px 0px;
}
section.app div.input button{
    background-color: #ED5A6B;
   font-weight: 100;
    font-size: 1.1rem;
    padding: 10px;
border-radius: 5px;
color: #fff;
height: 100%;
}
section.app div.form div.download{
    margin: 20px 0px;
    font-weight: 100;
    color: grey;

}
section.app div.form div.download div{
margin: 5px;
}
section.app div.form div.download div img{
    max-width: 150px;
    display: inline-block;
    margin: 5px 5px;
}