* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Metropolis;
    border: none;
}

*:focus {
    outline: none;
    border: none;
}

a {
    color: unset;
}

